<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.zane.bookmanager"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".app.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation"
            android:name=".presenters.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".presenters.activity.ZxingScannerActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".presenters.activity.BookInfoActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".presenters.activity.MyBookDetailInfoActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".presenters.activity.RecommendedBookActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".presenters.activity.AddIsbnActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".presenters.activity.AboutActivity"
                  android:configChanges="orientation"/>

        <meta-data android:value="1061b3f8eec2cda7f09cd0fb086b138d" android:name="BUG_HD_SDK_GENERAL_KEY" />
    </application>

</manifest>
